body {
  background: #282c34;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.flex {
  display: flex;
}

.center-x {
  justify-content: center;
}

.center-y {
  align-items: center;
}

.right-x {
  justify-content: flex-end;
}

.space-between-x {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}
