#search-page-container {
  max-width: 514px;
  min-width: 365px;
}
form {
  max-width: 100%;
}

#search-select {
  padding-left: 0.025rem;
  padding-right: 0.05rem;
}

#search-input {
  width: 100%;
}

#search-button {
  margin: 0;
}
